/* * * * * * * * * * * * * * * * * * * * *\
  
    FUNCTIONS & MIXINS

\* * * * * * * * * * * * * * * * * * * * */







/* MIXINS */




@mixin breakpoints ( $name ) {

  @if map-has-key( $breakpoints, $name ) {

    @media #{ inspect( map-get($breakpoints, $name) ) } {
      
      @content;
    
    }

  }
 
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}








@mixin do-grid-items ( $cols, $prefix ) {

  @for $i from 1 through $cols {
   
    @if not $prefix {

      .item-#{$i} {

        width: calc( #{$i}/12 * 100% );
        
        @if ( $grid_debug ) {
          &:before {
            content:'item - #{$i}';
          }
        }

      } // item

    } @else {
      
      .item-#{$prefix}-#{$i} {

        width: calc( #{$i}/12 * 100% );

        @if ( $grid_debug ) {
          &:before {
            content:'item - #{$prefix} - #{$i}';
          }
        }

      } // item

    } // @else
    
  } // @for

} // @mixin




@mixin do-push-items ( $cols, $prefix ) {

  @for $i from 1 through $cols {
   
    @if not $prefix {

      .item--push-#{$i} {

        margin-left: calc( #{$i}/12 * 100% );
        

      } // item

    } @else {
      
      .item-#{$prefix}--push-#{$i} {

        margin-left: calc( #{$i}/12 * 100% );

      } // item

    } // @else
    
  } // @for

} // @mixin








