/* * * * * * * * * * * * * * * * * * * * *\
  
    GLOBAL SETTINGS

\* * * * * * * * * * * * * * * * * * * * */


$prefix:                'aurora'; // false to disable

$aurora:                if( $prefix, '#{$prefix}-', '' );

$global_box_model:             true;


/**
 * There are lots of resets types on the web, we included this to choose:
 *
 * normalize     --  http://necolas.github.io/normalize.css/
 * meyer         --  http://cssreset.com/scripts/eric-meyer-reset-css/
 * html5         --  lhttp://html5doctor.com/html-5-reset-stylesheet/
 * none          --  only resets box model based on the variable and margins/padings to 0
 *
 **/
$reset_type:            false;






$breakpoints: (
  'sm'      : 768px,
  'md'      : 992px,
  'lg'      : 1200px
);


// $breakpoints: ( 'sm': 40em, 'md': 52em, 'lg': 64em );



$color_highlight: #8aedb2;






