/* * * * * * * * * * * * * * * * * * * * *\
  
    GLOBAL SETTINGS

\* * * * * * * * * * * * * * * * * * * * */


$prefix:                'aurora'; // false to disable

$aurora:                if( $prefix, '#{$prefix}-', '' );

$box-model:             border-box;







/* GRIDS STUFF */

/**
 * There are four grids techniques to choose depending on the final use and browser support.
 *
 * table    --  lorem ipsum
 * block    --  lorem ipsum
 * float    --  lorem ipsum
 * grid     --  lorem ipsum
 *
 **/

$grid_style:            'table'; 

$columns:               12;

$container-width:       940px;

$breakpoints: (
                        'sm'  : ( min-width:  768px ),
  
                        'md'  : ( min-width:  992px ),
                        
                        'lg'  : ( min-width: 1200px )
);


$gutter:                1rem;

$vertical-space:        false;

$grid_debug:            true;










