extends layouts/mainLayout

block content

  .aurora-container
    .aurora-grid.aurora-grid--float
      .aurora-grid__item.item-sm-6
        h1 H1 heading
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit ratione perferendis, earum officiis officia impedit molestiae facilis nostrum aspernatur quis quaerat ipsum soluta esse expedita illum repellendus laboriosam non necessitatibus, deleniti magni autem? Quia harum sed maxime assumenda, earum sint, numquam molestias qui quos consequuntur, repudiandae explicabo suscipit est beatae pariatur aut, vitae. Est ipsum, expedita eaque nulla possimus quae incidunt. Cum natus assumenda recusandae alias labore eveniet ipsum, quam iure, et, consectetur iusto, repellat nostrum sed quo nam ipsa. Eius ullam unde placeat itaque harum quidem vero illum. Pariatur dolorem, delectus laborum sint reiciendis sapiente placeat quibusdam quasi labore!
      .aurora-grid__item.item-sm-3
        p.caption Caption
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum nulla, fugiat minima sunt. Corporis ipsam, suscipit adipisci dignissimos commodi perspiciatis obcaecati. Consequatur quasi praesentium, numquam repudiandae doloremque, alias, excepturi voluptate optio veritatis cupiditate inventore? Necessitatibus nulla iusto dignissimos, debitis odit distinctio earum suscipit. Facere sunt tempora in. Maxime, ratione ex?
      .aurora-grid__item.item-sm-3
        h3 H3 heading
        p Caption
        p  Lorem 
          a ipsum dolor sit amet, 
          | consectetur adipisicing elit. Dolorum nulla, fugiat minima sunt. Corporis ipsam, suscipit adipisci dignissimos commodi perspiciatis obcaecati. Consequatur quasi praesentium, numquam repudiandae doloremque, alias, excepturi voluptate optio veritatis cupiditate inventore? Necessitatibus nulla iusto dignissimos, debitis odit distinctio earum suscipit. Facere sunt tempora in. Maxime, ratione ex?
    
            

      

block scripts

  script.

        
