extends layouts/mainLayout

block content

  section.section
    
    .aurora-container
      
      .aurora-grid--gutters
        .aurora-grid
          .aurora-grid__item.item-sm-2
          

      .aurora-grid
        .aurora-grid__item.item-md-8.item-md--hidden.item-sm-2.item-lg-6
        .aurora-grid__item.item-md-4.item-sm-10.item-lg-6

      .aurora-grid
        .aurora-grid__item.item-sm-6
          .aurora-grid
            .aurora-grid__item.item-lg-2
            .aurora-grid__item.item-lg-5.item-lg--hidden
            .aurora-grid__item.item-lg-5
        .aurora-grid__item.item-sm-6

      .aurora-grid
        .aurora-grid__item.item-sm-6.item-md--push-2
          
            

      

block scripts

  script.

        
