extends layouts/mainLayout

block content

  .ae-container
    .ae-grid.ae-grid--float
      .ae-grid__item.item-sm-6
       
        h3 Forms

        form
          p
            label(for='inputExample') Name: 
            input#inputExample(type="text")
            button Send
      
        
        
      .ae-grid__item.item-sm-6
        h4 button

        button button
        button.btn btn
        button.btn-alias btn-alias
        a(href='#hjk').btn hjkh

        
      

block scripts

  script.

        
