extends layouts/mainLayout

block content

  .ae-container
    .ae-grid.ae-grid--float
      .ae-grid__item.item-sm-8
       
        h3 Forms

        form
          label(for='inputExample') Input
          input#inputExample(type="text")
          button.button Send
        
        
      .ae-grid__item.item-sm-4
        h4 Title
        
      

block scripts

  script.

        
