


/**
 * Groups
 **/


.c-group {

  @if ($c_group_hack){
    
    letter-spacing: -0.28em;

    & > * {
      letter-spacing: 0;
    }

  }
  @else {

    overflow: auto;

    & > * {
      float: left;
    }
    
  }

}











/**
 * Tables
 **/

.#{$tbl_pfx} {

  td, th {
    border-bottom-style: solid;
    border-bottom-color: map-get( $btn_colors, light );
  }

  th { border-bottom-width: 2px; }
  tr:not(:last-child) td { border-bottom-width: 1px }

}

.#{$tbl_pfx}--stripped {
  tbody tr:nth-of-type(odd) {
    background-color: lighten( map-get( $btn_colors, light ), 10);
  }
}

.#{$tbl_pfx}--hover {
  tbody tr:hover {
    background-color: lighten( map-get( $btn_colors, light ), 10);
  }
}

.#{$tbl_pfx}--bordered {
  
  tr:first-child th {
    border-top: 1px solid  map-get( $btn_colors, light );
  }

  td, th {
    border-left: 1px solid  map-get( $btn_colors, light );

    &:last-of-type {
      border-right: 1px solid  map-get( $btn_colors, light );      
    }

  }
  
  tr:last-child td { border-bottom-width: 1px }

}


@if ( $responsive_tables ) {

  @include breakpoints( 'xs', 'sm' ) {

    .#{$tbl_pfx}--responsive {
      
      th { display: none; }
    
      td { 
        display: block;
        padding: .3rem;

        &:before {
          display: block;
          content: attr(data-th) " ";
          font-weight: 600;
          border-bottom: 1px solid map-get( $btn_colors, light );
        }
      }

      &.tbl--bordered {
        td { border-right: 1px solid  map-get( $btn_colors, light ); }
        tr:first-child td:first-child { border-top: 1px solid  map-get( $btn_colors, light ); }
      }

    }

  } // @bp

}









.dd__opener:checked + .dd__list, 
:target + .dd__list,
.dd:hover .dd__list
{
  max-height: 1000px;
}


// trick dd__over
.dd__over:target { 
  display: block; 
  cursor: default;
}


.dd__list {
  max-height: 0;
  overflow: hidden;
}


.tab__opener:checked + label {
  background-color: map-get( $btn_colors, dark );
}

$max_tabs: 5;

%db { display: block; }

@for $i from 1 through $max_tabs {

  .tab__opener:nth-of-type(#{$i}):checked ~ .tab__container .tab__content:nth-of-type(#{$i})
  {
    @extend %db;
  }

}







