
/**
 * Buttons
 **/

%disabled {
  pointer-events: none;
  cursor: not-allowed;
  opacity: .7;
}

button, .#{$btn_pfx} {
  border: 1px solid transparent;
  font-family: inherit;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: .5rem 1rem;
  margin: 0;
  height: auto;
  line-height: 1.125rem;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-appearance: none;
  font-weight: 400;

  &:disabled {
    @extend %disabled;
  }

}

.#{$btn_pfx} {
  color: inherit;
  background-color: map-get( $btn_colors, light );

  &:hover {
    background-color: darken( map-get( $btn_colors, light ), 3 );
  }

}

.#{$btn_pfx}-alias {
  color: white;
  background-color: map-get( $btn_colors, dark );
}

.#{$btn_pfx}-sm {
  @include set( $body_type, $val: -5, $lh: 1, $lines: 0, $bp: 'xs', $return: 'font');
  padding: .25rem .7rem;
}

.#{$btn_pfx}-xs {
  @include set( $body_type, $val: -6, $lh: 1, $lines: 0, $bp: 'xs', $return: 'font');
  padding: .16rem .5rem;
}

.#{$btn_pfx}-lg {
  @include set( $body_type, $val: 2, $lh: 1, $lines: 0, $bp: 'xs', $return: 'font');
  padding: .85rem 1.3rem;
}




/**
 * Inputs
 **/

%input {
  background-color: white;
  border: 1px solid map-get( $btn_colors, light );
  padding: .5rem;
  height: 2.25rem;
  margin: 0;
  vertical-align: middle;

  &:disabled {
    @extend %disabled;
  }

}

input[type=text], 
input[type=datetime], 
input[type=datetime-local], 
input[type=email], 
input[type=month], 
input[type=number], 
input[type=password], 
input[type=search], 
input[type=tel], 
input[type=time], 
input[type=url], 
input[type=week] {
  @extend %input;
  -webkit-appearance: none;
}

select {
  line-height: 1.75;
  padding: .5rem;
}

textarea {
  border: 1px solid map-get( $btn_colors, light );
  padding: .5rem;
  line-height: 1.5;
}

select:not([multiple]){
  @extend %input;
}
  



/**
 * Table
 **/

table {
  border-collapse: collapse;
  // border-collapse: separate;
  border-spacing: 0;
  max-width: 100%;
  width: 100%;
}

th {
  text-align: left;
  font-weight: map-get( $body_type, bold );
}

th,
td {
  padding: .2rem .5rem;
}
th { 
  vertical-align: bottom;
}
td { 
  vertical-align: top;
}



