


/**
 * Helper prefixes
 **/

$btn_pfx: 'btn';
$tbl_pfx: 'tbl';
$input_pfx: 'input';


/**
 * If apply vertical rhythm for ui elements
 **/
$rhythm_ui: false;


/**
 * Responsive Tables: needs only an extra data-th on each <td> to show when change layout
 **/
$responsive_tables: true;


/**
 * btn-group hack
 **/

$btn_group_hack: true; // TODO: if false

