// Helper prefixes
$btn-pfx: 'btn';
$tbl-pfx: 'tbl';
$input-pfx: 'input';

// If apply vertical rhythm for ui elements
$rhythm-ui: false;

// Responsive Tables: needs only an extra data-th on each <td> to show when change layout
$responsive-tables: true;

// btn-group hack
$c-group-hack: false;

// border 

$bd-width: 1px;
$bd-radius: 3px;
