
// aurora-grid :: Inline Block Style

@mixin block-helpers( $all-styles: false ){

  $style-sel: if( $all-styles, '.#{$aurora}grid--block', '.#{$aurora}grid');
    
    // Gutters

    .#{$aurora}grid--gutters#{$style-sel} .#{$aurora}grid__item {
      padding-left: $gutter / 2;
      padding-right: $gutter / 2;
    }

    #{$style-sel}.#{$aurora}grid--gutters {
      
      margin-right: -$gutter / 2;
      margin-left: -$gutter / 2;

    }


    // Grid

    #{$style-sel} {
      
      padding: 0;
      @if ( $inline-block-hacks == 'font') {
        font-size: 0;
      } @else if ( $inline-block-hacks == 'letter') {
        letter-spacing:-0.31em;
      }
      

    }
      


} // @main-mixin





