@if $grid-style == 'float' {
  @include float-helpers(false);

  @each $bp-name, $bp-num in $breakpoints {
    @include breakpoints($bp-name) {
      @if $responsive-container {
        .#{$aurora}container {
          width: map-get($container, $bp-name);
        }
      }
      @include do-grid-items($columns, $bp-name, 'float');
      @include do-offset-items($columns, $bp-name);
      @include do-push-items($columns, $bp-name);
      @include do-pull-items($columns, $bp-name);
    }
  }
} @else if $grid-style == 'table' {
  @include table-helpers(false);

  @each $bp-name, $bp-num in $breakpoints {
    @include breakpoints($bp-name) {
      @if $responsive-container {
        .#{$aurora}container {
          width: map-get($container, $bp-name);
        }
      }
      @include do-grid-items($columns, $bp-name, 'table');
      @include do-push-items($columns, $bp-name);
      @include do-pull-items($columns, $bp-name);

      // Hidden Items
      .item-#{$bp-name}--hidden {
        visibility: hidden;
      }

      // Invisible Items
      .item-#{$bp-name}--invisible {
        display: none;
      }
    }
  }
} @else if $grid-style == 'block' {
  @include block-helpers(false);

  @each $bp-name, $bp-num in $breakpoints {
    @include breakpoints($bp-name) {
      @if $responsive-container {
        .#{$aurora}container {
          width: map-get($container, $bp-name);
        }
      }
      @include do-grid-items($columns, $bp-name, 'block');
    }
  }
} @else if $grid-style == 'all' {
  @include table-helpers(true);
  @include float-helpers(true);
  @include block-helpers(true);
  // .#{$aurora}grid--table .#{$aurora}grid__item--eq { @include _(dtc); }

  @each $bp-name, $bp-num in $breakpoints {
    @include breakpoints($bp-name) {
      @if $responsive-container {
        .#{$aurora}container {
          width: map-get($container, $bp-name);
        }
      }
      @include do-grid-items($columns, $bp-name, 'all');
      @include do-offset-items($columns, $bp-name);
      @include do-push-items($columns, $bp-name);
      @include do-pull-items($columns, $bp-name);
    }
  }
}
