
// aurora-grid :: Defaults

.#{$aurora}container {

  margin-left: auto;
  margin-right: auto;
  max-width: $container-width;

}


.#{$aurora}grid {
    
  @if( $vertical-space ) {
    margin-bottom: $gutter/2;
  }

}


// Grid Item

  .#{$aurora}grid__item {

    position: relative;
    min-height: 1px;
    font-size: initial;

  }


