
// aurora-grid :: Float Style

@mixin float-helpers( $all-styles: false ){

  $style-sel: if( $all-styles, '.#{$aurora}grid--float', '.#{$aurora}grid');
    
    // Gutters

    .#{$aurora}grid__item {
      padding-left: $gutter / 2;
      padding-right: $gutter / 2;

      .no-gutter & {
        padding-left: 0;
        padding-right: 0;
      }

    }

    #{$style-sel} {
      
      margin-right: -$gutter / 2;
      margin-left: -$gutter / 2;

      &.no-gutter {
        margin-left: 0;
        margin-right: 0;
      }

    }


    // Grid

    #{$style-sel}, .#{$aurora}container {
      
      &:before, &:after {
        display: table;
        content: " ";
      }
      &:after {
        clear: both;
      }

    }
      


} // @main-mixin





