// --------------
// Grid Functions
// --------------

@include placeholder('fl') {
  float: left;
}

@include placeholder('fr') {
  float: right;
}

@include placeholder('dtc') {
  display: table-cell;
}

@include placeholder('dib') {
  display: inline-block;
  vertical-align: top;
}


@mixin do-grid-items($cols, $prefix, $style) {
  $px: if($prefix, -#{$prefix}, '');

  @for $i from 1 through $cols {
    .item#{$px}-#{$i} {

      @if $style == 'float' {
        @include _(fl);
      } @else if $style == 'table' {
        // @include _(dtc);
      } @else if $style == 'block' {
        @include _(dib);
      } @else if $style == 'all' {

        // .#{$aurora}grid:not(.#{$aurora}grid--table):not(.#{$aurora}grid--block) & {
        //   @include _(fl);
        // }
        .#{$aurora}grid--float & {
          @include _(fl); 
        }

        // .#{$aurora}grid--table & {
        //   @include _(dtc);
        // }

        .#{$aurora}grid--block & {
          @include _(dib);
        }
      }

      width: if($calc, calc(#{$i}/#{$cols} * 100%), $i / $cols * 100%);
    }
  } // @for
}

@mixin do-push-items($cols, $prefix) {
  $px: if($prefix, -#{$prefix}, '');

  @for $i from 1 through $cols {
    .item#{$px}--push-#{$i} {
      left: if($calc, calc(#{$i}/#{$cols} * 100%), $i / $cols * 100%);
    }
  } // @for
}

@mixin do-pull-items($cols, $prefix) {
  $px: if($prefix, -#{$prefix}, '');

  @for $i from 1 through $cols {
    .item#{$px}--pull-#{$i} {
      right: if($calc, calc(#{$i}/#{$cols} * 100%), $i / $cols * 100%);
    }
  } // @for
}

@mixin do-offset-items($cols, $prefix) {
  $px: if($prefix, -#{$prefix}, '');

  @for $i from 1 through $cols {
    .item#{$px}--offset-#{$i} {
      margin-left: if($calc, calc(#{$i}/#{$cols} * 100%), $i / $cols * 100%);
    }
  } // @for
}
