

/*  Debug */

@if ( $grid_debug ) {
  
  .#{$aurora}container {

    // border: 1px solid transparent;
    
  }
  
  .#{$aurora}grid {
    background: linear-gradient(to right,rgba(0,0,0,.04) 50%,rgba(0,0,0,.07) 50%);
    background-size: calc(1/6 * 100%) 100%;
  }

}

@if ( $item_debug ) {

  .#{$aurora}grid__item {
    
    color: white;
    outline: 1px solid;
    counter-increment: grid-item;
    text-align: center;
    background-color: rgba( #3498db, .3);
    

    &:before {
      // content: 'Item - ' counter(grid-item);
      content: 'Item';      
      display: block;
      width: 100%;
      height: 100%;
      font-size: .7em;
      padding-top: 10px;
      padding-bottom: 10px;
    }

  }

}



/* Float Grid */ 


@mixin float-helpers( $all-styles: false ){

  $style-sel: if( $all-styles, '.#{$aurora}grid--float', '.#{$aurora}grid');
    
    // Gutters

    .#{$aurora}grid__item {
      padding-left: $gutter / 2;
      padding-right: $gutter / 2;

      .no-gutter & {
        padding-left: 0;
        padding-right: 0;
      }

    }

    #{$style-sel} {
      
      margin-right: -$gutter / 2;
      margin-left: -$gutter / 2;

      &.no-gutter {
        margin-left: 0;
        margin-right: 0;
      }

    }


    // Grid

    #{$style-sel}, .#{$aurora}container {
      
      &:before, &:after {
        display: table;
        content: " ";
      }
      &:after {
        clear: both;
      }

    }
      


} // @main-mixin




/* Table grid */

@mixin table-helpers( $all-styles: false ){
  
  $style-sel: if( $all-styles, '.#{$aurora}grid--table', '.#{$aurora}grid');

    
    // Gutters

    .#{$aurora}grid--gutters {
      
      margin-left:  -$gutter;
      margin-right: -$gutter;

    }

    .#{$aurora}grid--gutters #{$style-sel} {
      
      border-spacing: $gutter 0;

    }


    // Grid

    #{$style-sel} {

      display: table;
      table-layout: fixed;
      width: 100%;

    }



}





/* Block grid */

@mixin block-helpers( $all-styles: false ){

  $style-sel: if( $all-styles, '.#{$aurora}grid--block', '.#{$aurora}grid');
    
    // Gutters

    .#{$aurora}grid__item {
      padding-left: $gutter / 2;
      padding-right: $gutter / 2;

      .no-gutter & {
        padding-left: 0;
        padding-right: 0;
      }

    }

    #{$style-sel} {
      
      margin-right: -$gutter / 2;
      margin-left: -$gutter / 2;

      &.no-gutter {
        margin-left: 0;
        margin-right: 0;
      }

    }


    // Grid

    #{$style-sel} {
      
      padding: 0;

      @if ( $inline-block-hacks == 'font') {
        font-size: 0;
      } @else if ( $inline-block-hacks == 'letter') {
        // letter-spacing:-0.31em;
        letter-spacing:-0.28em;
      }
      

    }
      


} // @main-mixin









