// -------------
// Float Grid
// -------------

@mixin float-helpers($all-styles: false) {
  $style-sel: if($all-styles, ".#{$aurora}grid--float", ".#{$aurora}grid");

  // Grid
  #{$style-sel}, .#{$aurora}container {

    &:before,
    &:after {
      content: '';
      display: table;
    }

    &:after {
      clear: both;
    }
  }
}

// -------------
// Table Grid
// -------------

@mixin table-helpers($all-styles: false) {
  $style-sel: if($all-styles, ".#{$aurora}grid--table", ".#{$aurora}grid");

  // Grid
  #{$style-sel} {
    display: table;
    table-layout: fixed;
    width: 100%;
    
    .#{$aurora}grid__item {
      @include _(dtc);  
    }
  }
}

// -------------
// Block Grid
// -------------

@mixin block-helpers($all-styles: false) {
  $style-sel: if($all-styles, ".#{$aurora}grid--block", ".#{$aurora}grid");

  // Grid
  #{$style-sel} {
    padding: 0;

    @if $inline-block-hacks == 'font' {
      font-size: 0;
    } @else if $inline-block-hacks == 'letter' {
      // letter-spacing:-0.31em;
      letter-spacing: -.28em;
    }
  }
}
