
// aurora-grid :: Table Style
// Distribute spaces also when not specify breakpoint


@each $bp-name, $bp-num in $breakpoints {

  @include breakpoints( $bp-name ) {


    .#{$aurora}grid--gutters .#{$aurora}grid__item{
      
      padding-left: $gutter / 2;
      padding-right: $gutter / 2;

    }

    .#{$aurora}grid {

      display: table;
      table-layout: fixed;
      width: 100%;

    }



      .#{$aurora}grid__item {
        
        display: table-cell;

      }

      @include do-grid-items ( $columns, $bp-name );

      @include do-push-items ( $columns, $bp-name, 'table' );


  }

}



