doctype
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(charset='UTF-8')
    title Aurora :: Pixeden
    link(rel='stylesheet', href='assets/css/aurora.css')
    
  body

    block content


    script.
        

    block scripts


