
/* * * * * * * * * * * * * * * * * * * * *\
  
    TYPOGRAPHY DEFAULTS

\* * * * * * * * * * * * * * * * * * * * */


html {
  
  text-size-adjust: 100%;
  
  @include base_font_size( $root_size, 'xs' );
  
  @if ( $responsive_scales ){
    
    @each $bp-name, $bp-num in $breakpoints {
      @include breakpoints( $bp-name ) {
        @include base_font_size( $root_size, $bp-name );
      }
    }

  }
  
}

body {
  
  color: map-get( $type_colors, body );

  font-family: unquote( map-get($body_type, font-family) );
  font-style: normal;
  font-weight: map-get( $body_type, regular );
  
  @include set( $body_type, $val: 0, $lh: 2, $lines: 2, $bp: 'xs', $return: 'font');
  
  @if ( $rhythm_debug ){ 
    background: linear-gradient( to bottom, $debug_line_colors 0, transparent 1px );
    background-repeat: repeat-y;
    background-size: 100% 1rem;
  }

}



