// TYPOGRAPHY DEFAULTS

html {
  @include base-font-size($root-size, 'xs');
  text-size-adjust: 100%;

  @if ($responsive-scales){
    @each $bp-name, $bp-num in $breakpoints {
      @include breakpoints($bp-name) {
        @include base-font-size($root-size, $bp-name);
      }
    }
  }
  
}

body {
  @include set($body-type, $val: 0, $lh: 2, $lines: 2, $bp: 'xs', $return: 'font');

  color: map-get($type-colors, body);
  font-family: unquote(map-get($body-type, font-family));
  font-style: normal;
  font-weight: map-get($body-type, regular);  
}
