
/* * * * * * * * * * * * * * * * * * * * *\
  
    TYPOGRAPHY ELEMENTS

\* * * * * * * * * * * * * * * * * * * * */



h1, h2, h3, h4, h5, h6, .h1 {
  font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
  font-family: unquote( map-get( $h_type, font-family ) );
  font-style: normal;
  font-weight: map-get( $h_type, bold );
}



h3, .h3 { @include set( $h_type, $val: 3, $lh: 2, $lines: 1, $bp: 'xs'); }
h4, .h4 { @include set( $h_type, $val: 2, $lh: 2, $lines: 1, $bp: 'xs'); }
h5, .h5 { @include set( $h_type, $val: 1, $lh: 2, $lines: 1, $bp: 'xs'); }
h6, .h6 { @include set( $h_type, $val: 0, $lh: 2, $lines: 1, $bp: 'xs'); }

p { @include set( $body_type, $val: 0, $lh: 2, $lines: 2, $bp: 'xs', $return: 'baseline'); }
code{ @include set( $mono_type, $val: -2, $lh: 1, $lines: 2, $bp: 'xs', $return: 'font'); }
ul, ol { @include set( $body_type, $val: 0, $lh: 2, $lines: 2, $bp: 'xs', $return: 'baseline'); }


@if( $responsive_scales ) {
  
  h1, .h1 { @include set( $h_type, $val: 5, $lh: 3, $lines: 1, $bp: 'xs'); }
  h2, .h2 { @include set( $h_type, $val: 4, $lh: 3, $lines: 1, $bp: 'xs'); }

  @each $bp-name, $bp-num in $breakpoints {
    
    @include breakpoints( $bp-name ) {
      
      h1, .h1 { @include set( $h_type, $val: 8, $lh: 4, $lines: 2, $bp: $bp-name); }
      h2, .h1 { @include set( $h_type, $val: 6, $lh: 3, $lines: 2, $bp: $bp-name); }
      h3, .h3 { @include set( $h_type, $val: 3, $lh: 2, $lines: 1, $bp: $bp-name); }
      h4, .h4 { @include set( $h_type, $val: 2, $lh: 2, $lines: 1, $bp: $bp-name); }
      h5, .h5 { @include set( $h_type, $val: 1, $lh: 2, $lines: 1, $bp: $bp-name); }
      h6, .h6 { @include set( $h_type, $val: 0, $lh: 2, $lines: 1, $bp: $bp-name); }
      
      p { @include set( $body_type, $val: 0, $lh: 2, $lines: 2, $bp: $bp-name, $return: 'baseline'); }
      code { @include set( $mono_type, $val: -2, $lh: 1, $lines: 1, $bp: $bp-name ); }
      ul, ol { @include set( $body_type, $val: 0, $lh: 2, $lines: 2, $bp: $bp-name, $return: 'baseline'); }
    }
  }

}
@else {
  
  // h1, .h1 { @include set( $h_type, $val: 5, $lh: 10, $lines: 1, $bp: 'xs'); }
  // h2, .h2 { @include set( $h_type, $val: 4, $lh: 5, $lines: 1, $bp: 'xs'); }
  h1, .h1 { @include set( $h_type, $val: 8, $lh: 4, $lines: 2, $bp: 'xs'); }
  h2, .h1 { @include set( $h_type, $val: 6, $lh: 3, $lines: 2, $bp: 'xs'); }

}




h1 small, 
h2 small, 
h3 small, 
h4 small, 
h5 small, 
h6 small {
  color: map-get( $type_colors, light );
  // margin-top: -1rem;
}

small {
  font-size: .75em;
  line-height: 1rem;
}



$heading_color: map-get( $type_colors, heading );


a {
  color: map-get( $type_colors, links );
  text-decoration: none;

  &:hover, &:active, &:focus {
    color: darken( map-get( $type_colors, links ), 10 );
  }
}

ul, ol {
  
  & ul, & ol { padding-top: 0; margin-bottom: 0; }

  li {
    font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
    margin-left: 2rem;
    @include breakpoints('xs') { margin-left: 0; }

  }
}



b, strong, .bold {
  font-weight: map-get($body_type, bold);
}

em, i, .italic {
  font-style: map-get($body_type, italic);
}

blockquote {

  p {
    border-left: 0.15rem solid map-get( $type_colors, links );
    font-style: map-get($body_type, italic);
    padding-left: 1rem;
  }

  @include breakpoints( sm ) {
    margin-left: -1rem;
  }
}

hr {
  width: 75%;
  border: 0;
  border-bottom: 1px solid;
  padding: .15rem 0;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

pre {
  background-color: rgba( #333,.5);
  font-family: unquote( map-get( $mono_type, font-family ) );
}

pre {
  display: block;
  margin-bottom: 2rem;
  padding: 0.55rem 1rem;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
}

code {
  color: white;
}

mark, 
.highlight {
  background-color: map-get( $type_colors, links );;
}

del, 
s, 
.line-through {
  text-decoration-line: line-through;
}

ins, 
u, 
.text-underlined {
  text-decoration: underline;
}




