
.#{$txt_pfx}-center {
  text-align: center;
}

.#{$txt_pfx}-left {
  text-align: left;
}

.#{$txt_pfx}-right {
  text-align: right;
}

.#{$txt_pfx}-smallcaps {
  font-feature-settings: 'smcp' 1, 'kern' 1;
  letter-spacing: 0.1rem;
}

.#{$txt_pfx}-uppercase {
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.lining-numerals {
  font-feature-settings: 'lnum' 1, 'kern' 1;
}

.oldstyle-numerals {
  font-feature-settings: 'onum' 1, 'kern' 1;
}




@if( $responsive_txt_helpers ) {
  
  @each $bp-name, $bp-num in $breakpoints {
    
    @include breakpoints( $bp-name ) {
      
      .#{$txt_pfx}-#{$bp-name}-center {
        text-align: center;
      }

      .#{$txt_pfx}-#{$bp-name}-left {
        text-align: left;
      }

      .#{$txt_pfx}-#{$bp-name}-right {
        text-align: right;
      }


    }
  
  }

}
