@import 'modular-scale';  // https://github.com/modularscale/modularscale-sass

/* * * * * * * * * * * * * * * * * * * * *\
  
    TYPOGRAPHY SETTINGS

\* * * * * * * * * * * * * * * * * * * * */


$font_family:           'Helvetica Neue', Helvetica, sans-serif;
$root_size:             16px;
$line_height:           2rem;

/* The baseline is the imaginary line upon which a line of text rests */
$baseline:              $root_size * $line_height / 2;

/* 
**  A modular scale, like a musical scale, is a prearranged set of harmonious proportions.
**   —Robert Bringhurst 
**
*/


/* 
*  Modular Scale variables:
*  b -- base: font size to control rhythm/line-height/etc
*  f -- function: that modulate the scale (https://github.com/modularscale/modularscale-sass#ratios)
*  s -- sizes: base sizes to calculate the modular scale (is possible to have only one base number)
*/

$base_modular: (
  b: 12,
  f: $golden,
  s: 16px 28px
);

$responsive_scales: true;

$modular_scales: (
  
  'xs': ( 
    b: 12,
    f: $major-third,
    s: 16px 28px
  ),
  'sm': (
    b: 14,
    f: $major-third,
    s: 17px 30px
  ),
  'md': (
    b: 15,
    f: $major-third,
    s: 18px 32px
  ),
  'lg': (
    b: 17,
    f: $fourth,
    s: 20px 40px
  ),
  'xl': ( 
    b: 19,
    f: $augmented-fourth, 
    s: 22px 50px
  )

);
  



/* 
*  Basic Fonts
*  font-family   -- The font family name and defaults
*  regular       -- regular weight
*  bold          -- bold weigth
*  italic        -- italic variant
*  cap-height    -- cap height number
*/

$bodytype: (
  font-family: 'Palatino Linotype, Book Antiqua, Palatino, serif',
  regular: 400,
  bold: 700,
  italic: italic,
  cap-height: 0.52
);

$headingtype: (
  font-family: 'Helvetica, sans-serif',
  regular: 400,
  bold: 700,
  cap-height: 0.65
);

$monospacetype: (
  font-family: 'Lucida Console, Monaco, monospace',
  regular: 400,
  cap-height: 0.68
);

$type_colors: (
  links: $color_highlight,
  heading: #2d2d2d,
  body: #505050,
  caption: #787878
);


$rhythm_debug:          true;


